  .main {
      height: auto;
      width: auto;
      display: block;
  }
  
  .main .row1 .Rightcard {
      height: 250px;
      width: 40%;
      border: rgb(107, 131, 148) 2px solid;
      border-radius: 5px;
      margin: 30px 80px 10px 0px;
      box-shadow: black;
      float: right;
      direction: rtl;
  }
  
  .main .row1 .Rightcard .header-right {
      background: rgb(107, 131, 148);
      color: white;
      height: 15%;
      width: auto;
      direction: rtl;
      text-align: center;
      font-weight: bold;
  }
  
  .main .row1 .Rightcard .body-right {
      padding: 20px;
  }
  
  .main .row1 .Leftcard {
      height: 250px;
      width: 40%;
      border: rgb(107, 131, 148) 2px solid;
      border-radius: 5px;
      margin: 30px 10px 10px 120px;
      float: left;
      display: inline-block;
  }
  
  .main .row1 .Leftcard .header-left {
      background: rgb(107, 131, 148);
      color: white;
      height: 15%;
      width: auto;
      font-weight: bold;
      text-align: center;
  }
  
  .main .row1 .leftcard .body-left {
      direction: ltr;
  }
  
  .main .row2 {
      direction: rtl;
      height: 150px;
      width: 84%;
      border: rgb(107, 131, 148) 2px solid;
      border-radius: 5px;
      display: block;
      margin-left: 120px;
      margin-bottom: 20px;
  }
  
  .main .btn {
      background: rgb(63, 235, 20);
      color: rgb(7, 7, 7);
      margin-left: 120px;
      margin-bottom: 20px;
      font-weight: bold;
      height: 30px;
      width: 100px;
  }
